body {
  margin:0px;
  background-image:url('../../images/主界面/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:241px 72px;
  background-origin:border-box;
  position:relative;
  left:-17px;
  width:1412px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:125px;
  width:27px;
  height:27px;
  display:flex;
}
#u313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:129px;
  width:9px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u314 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u314_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:395px;
  background:inherit;
  background-color:rgba(130, 136, 194, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:165px;
  width:300px;
  height:395px;
  display:flex;
  opacity:0.44;
}
#u316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(130, 136, 194, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:220px;
  width:150px;
  height:150px;
  display:flex;
  opacity:0.58;
}
#u317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:135px;
  height:7px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:220px;
  width:131px;
  height:3px;
  display:flex;
}
#u318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:435px;
  width:256px;
  height:16px;
  display:flex;
}
#u319 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u319_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:376px;
  width:15px;
  height:2px;
  display:flex;
}
#u320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:18px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:363px;
  width:2px;
  height:15px;
  display:flex;
}
#u321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u322_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:18px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:361px;
  width:2px;
  height:15px;
  display:flex;
}
#u322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u323_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:18px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:214px;
  width:2px;
  height:15px;
  display:flex;
}
#u323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:18px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:212px;
  width:2px;
  height:15px;
  display:flex;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:376px;
  width:15px;
  height:2px;
  display:flex;
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:212px;
  width:15px;
  height:2px;
  display:flex;
}
#u326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:212px;
  width:15px;
  height:2px;
  display:flex;
}
#u327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:128px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:165px;
  width:177px;
  height:16px;
  display:flex;
}
#u329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:128px;
  width:140px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:585px;
  width:32px;
  height:32px;
  display:flex;
}
#u331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:592px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:2px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:627px;
  width:1391px;
  height:1px;
  display:flex;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:642px;
  width:713px;
  height:75px;
  display:flex;
}
#u334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:734px;
  width:300px;
  height:36px;
  display:flex;
}
#u335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:41px;
  background:inherit;
  background-color:rgba(183, 186, 212, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:519px;
  width:72px;
  height:41px;
  display:flex;
}
#u336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u337_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:21px;
  width:40px;
  height:24px;
  display:flex;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u337_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u337.disabled {
}
#u338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u338_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:21px;
  width:40px;
  height:24px;
  display:flex;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u338_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u338.disabled {
}
#u339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u339_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:21px;
  width:59px;
  height:24px;
  display:flex;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u339_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u339.disabled {
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:17px;
  width:23px;
  height:24px;
  display:flex;
}
#u340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u341_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:21px;
  width:79px;
  height:24px;
  display:flex;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u341_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u341.disabled {
}
#u342_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u342_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:21px;
  width:79px;
  height:24px;
  display:flex;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u342_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Yi Baiti Bold', 'Microsoft Yi Baiti Regular', 'Microsoft Yi Baiti', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u342.disabled {
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:21px;
  width:79px;
  height:24px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u343 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:17px;
  width:33px;
  height:24px;
  display:flex;
}
#u344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:66px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:78px;
  height:66px;
  display:flex;
}
#u345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:21px;
  width:79px;
  height:24px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u346 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:21px;
  width:40px;
  height:24px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u347 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:17px;
  width:31px;
  height:24px;
  display:flex;
}
#u348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:17px;
  width:21px;
  height:24px;
  display:flex;
}
#u349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:17px;
  width:27px;
  height:24px;
  display:flex;
}
#u350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:7px;
  width:52px;
  height:52px;
  display:flex;
}
#u351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
